<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>My_CV</title>
    <link rel="stylesheet"  type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card border-primary mb-3 h-100">
                <img src="{% static 'images/ng3n0.jpg' %}" alt="my_image" id="profilepic" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Nicholas Ngeno</h5>
                    <hr>
                    <p class="card-text">I am software developer and an aspiring Data Scientist.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-8">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">My job as a Developer</h5>
                    <hr>
                    <!--                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
                    <p class="card-text">I am software developer developing scalable web applications.I code with python.
                        Data science interests me and I am skilling up towards that direction. On my free time I freelance.</p>
                    <p>With a bachelors degree in Informatics, I have diverse IT skill-set ranging from :Programming,Networking(CCNA),S/W Testing
                        and Data analysis(Power BI)</p>
                </div>
            </div>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">What I know</h5>
                    <hr>
                    <!--                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
                    <p class="card-text">
                    <p>Python ,Django,HTML5/.CSS,PHP,Code Ignitor,Power BI,Azure and API-intergration.</p>
                    <p>PS: I am learning data science,ML and ReactJS</p>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">My Job Experience</h5><hr>
                    <h6 class="card-subtitle mb-2 text-muted">Software Test Engineer at Microsoft </h6>
                    <p class="card-text">I work in the privacy department where I am tasked to test windows operating system(OS) to make sure that it conforms to privacy needs.</p>
                </div>
            </div>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">How I Grow Myself</h5><hr>
                    <!--                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
                    <p class="card-text">We are in a very dynamic world where whatever feeds you today might be obsolete the next day.
                        With this in mind,I have to do something to always be relevant.That is why I never stop learning.</p>
                    <p> I am a big fun of <a href="https://app.pluralsight.com/id/signin/?redirectTo=https%3A%2F%2Fapp.pluralsight.com%2Flibrary%2F" class="card-link"><i>Pluralsight</i></a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">My Short-Term Goals</h5><hr>
                    <!--                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
                    <p class="card-text">My short term goals are : developing my coding skills as I prepare to take up a serious coding job,
                        level up my data science skills,learn Machine learning/AI,Learn any javascript language(react/Angular).</p>
<!--                    <a href="#" class="card-link">Card link</a>-->
<!--                    <a href="#" class="card-link">Another link</a>-->
                </div>
            </div>
        </div>

    </div>
    <br>

</div>

</body>
</html>